{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block  content %}
  <!-- Header / Hero Section -->
  <header class="py-5">
    <div class="container px-lg-5">
      <div class="p-4 p-lg-5 bg-body-secondary rounded-3 text-center">
        <div class="m-4 m-lg-5">
          <h1 class="display-5 fw-bold">Welcome, {{ user.username }}!</h1>
          <p class="fs-4">
            This is a simple hero unit, a simple jumbotron-style component for
            calling extra attention to featured content or information.
          </p>
          <a class="btn btn-primary btn-lg" href="#!">Call to action</a>
        </div>
      </div>
    </div>
  </header>
  <!-- Page Content -->
  <section class="pt-4">
    <div class="container text-center">
      <p>You are successfully logged in.</p>
    </div>
  </section>
{% endblock %}
